In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Loading excel train file with the help of pandas library

In [5]:
df=pd.read_excel(r"C:\Users\USER\Data Science Projects\CaseStudyML\Training_Data.01 (1) (1).xlsx")

In [6]:
df.head()

,Company Name,Business Description,Industry Classification Tag
0,"ADSOUTH PARTNERS, INC.","Adsouth Partners, Inc. provides advertising ag...",Advertising
1,"Artec Global Media, Inc.","Artec Global Media, Inc., formerly Artec Consu...",Advertising
2,Betawave Corp.,Betawave Corporation provides online marketing...,Advertising
3,BOSTON OMAHA Corp,Boston Omaha Corporation is engaged in the bus...,Advertising
4,Bright Mountain Media Inc,"Bright Mountain Media, Inc. is a digital media...",Advertising

In [7]:
df['Industry Classification Tag'].unique()

array(['Advertising', 'Aerospace & Defense', 'Apparel Retail',
       'Apparel, Accessories & Luxury Goods', 'Application Software',
       'Asset Management & Custody Banks', 'Auto Parts & Equipment',
       'Biotechnology', 'Building Products', 'Casinos & Gaming',
       'Commodity Chemicals', 'Communications Equipment',
       'Construction & Engineering',
       'Construction Machinery & Heavy Trucks', 'Consumer Finance',
       'Data Processing & Outsourced Services',
       'Diversified Metals & Mining', 'Diversified Support Services',
       'Electric Utilities', 'Electrical Components & Equipment',
       'Electronic Equipment & Instruments',
       'Environmental & Facilities Services', 'Gold',
       'Health Care Equipment', 'Health Care Facilities',
       'Health Care Services', 'Health Care Supplies',
       'Health Care Technology', 'Homebuilding',
       'Hotels, Resorts & Cruise Lines',
       'Human Resource & Employment Services', 'Industrial Machinery',
       'Integrated Telecommunication Services',
       'Interactive Media & Services',
       'Internet & Direct Marketing Retail',
       'Internet Services & Infrastructure',
       'Investment Banking & Brokerage', 'IT Consulting & Other Services',
       'Leisure Products', 'Life Sciences Tools & Services',
       'Movies & Entertainment', 'Oil & Gas Equipment & Services',
       'Oil & Gas Exploration & Production',
       'Oil & Gas Refining & Marketing',
       'Oil & Gas Storage & Transportation', 'Packaged Foods & Meats',
       'Personal Products', 'Pharmaceuticals',
       'Property & Casualty Insurance', 'Real Estate Operating Companies',
       'Regional Banks', 'Research & Consulting Services', 'Restaurants',
       'Semiconductors', 'Specialty Chemicals', 'Specialty Stores',
       'Steel', 'Systems Software', 'Technology Distributors',
       'Technology Hardware, Storage & Peripherals',
       'Thrifts & Mortgage Finance', 'Trading Companies & Distributors'],
      dtype=object)

In [8]:
df.isnull().sum()

Company Name                    0
Business Description           23
Industry Classification Tag     0
dtype: int64

In [9]:
df.shape

(6045, 3)

# number of Null values are very less thats why we will drop the null values

In [10]:
df2=df.dropna()

In [11]:
df2.shape

(6022, 3)

In [12]:
df['Industry Classification Tag'].unique()

array(['Advertising', 'Aerospace & Defense', 'Apparel Retail',
       'Apparel, Accessories & Luxury Goods', 'Application Software',
       'Asset Management & Custody Banks', 'Auto Parts & Equipment',
       'Biotechnology', 'Building Products', 'Casinos & Gaming',
       'Commodity Chemicals', 'Communications Equipment',
       'Construction & Engineering',
       'Construction Machinery & Heavy Trucks', 'Consumer Finance',
       'Data Processing & Outsourced Services',
       'Diversified Metals & Mining', 'Diversified Support Services',
       'Electric Utilities', 'Electrical Components & Equipment',
       'Electronic Equipment & Instruments',
       'Environmental & Facilities Services', 'Gold',
       'Health Care Equipment', 'Health Care Facilities',
       'Health Care Services', 'Health Care Supplies',
       'Health Care Technology', 'Homebuilding',
       'Hotels, Resorts & Cruise Lines',
       'Human Resource & Employment Services', 'Industrial Machinery',
       'Integrated Telecommunication Services',
       'Interactive Media & Services',
       'Internet & Direct Marketing Retail',
       'Internet Services & Infrastructure',
       'Investment Banking & Brokerage', 'IT Consulting & Other Services',
       'Leisure Products', 'Life Sciences Tools & Services',
       'Movies & Entertainment', 'Oil & Gas Equipment & Services',
       'Oil & Gas Exploration & Production',
       'Oil & Gas Refining & Marketing',
       'Oil & Gas Storage & Transportation', 'Packaged Foods & Meats',
       'Personal Products', 'Pharmaceuticals',
       'Property & Casualty Insurance', 'Real Estate Operating Companies',
       'Regional Banks', 'Research & Consulting Services', 'Restaurants',
       'Semiconductors', 'Specialty Chemicals', 'Specialty Stores',
       'Steel', 'Systems Software', 'Technology Distributors',
       'Technology Hardware, Storage & Peripherals',
       'Thrifts & Mortgage Finance', 'Trading Companies & Distributors'],
      dtype=object)

In [13]:
df2["Company Name"].unique()

array(['ADSOUTH PARTNERS, INC.', 'Artec Global Media, Inc.',
       'Betawave Corp.', ..., 'XLI Technologies Inc',
       'Armco Metals Holdings, Inc.',
       'Foundation Building Materials, Inc.'], dtype=object)

# There are too many categories which we have to predict, thats why we will convert them into labels

In [14]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df2['label']=le.fit_transform(df2['Industry Classification Tag'])

<ipython-input-14-7a246ee9b159>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['label']=le.fit_transform(df2['Industry Classification Tag'])

In [15]:
df2

,Company Name,Business Description,Industry Classification Tag,label
0,"ADSOUTH PARTNERS, INC.","Adsouth Partners, Inc. provides advertising ag...",Advertising,0
1,"Artec Global Media, Inc.","Artec Global Media, Inc., formerly Artec Consu...",Advertising,0
2,Betawave Corp.,Betawave Corporation provides online marketing...,Advertising,0
3,BOSTON OMAHA Corp,Boston Omaha Corporation is engaged in the bus...,Advertising,0
4,Bright Mountain Media Inc,"Bright Mountain Media, Inc. is a digital media...",Advertising,0
...,...,...,...,...
6040,Willis Lease Finance Corporation,Willis Lease Finance Corporation along with it...,Trading Companies & Distributors,61
6041,WindGen Energy Inc,"WindGen Energy, Inc. (WindGen) is focused on w...",Trading Companies & Distributors,61
6042,XLI Technologies Inc,"XLI Technologies, Inc., formerly Mineria Y Exp...",Trading Companies & Distributors,61
6043,"Armco Metals Holdings, Inc.","Armco Metals Holdings, Inc. is a scrap steel p...",Trading Companies & Distributors,61
6044,"Foundation Building Materials, Inc.","Foundation Building Materials, Inc. is a speci...",Trading Companies & Distributors,61

# Splitting our data into test and train data

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df2.iloc[:,0:2],df2.label)

In [17]:
X_train.head()

,Company Name,Business Description
2636,POSITIVEID Corp,"PositiveID Corporation, formerly VeriChip Corp..."
1297,Gamesys Group PLC,"Gamesys Group plc, formerly JPJ Group plc, is ..."
4073,WEST CANYON ENERGY CORP.,WEST CANYON ENERGY CORP. is an oil and gas exp...
1206,Epwin Group PLC,Epwin Group Plc is a manufacturer of extrusion...
5837,MultiQ International AB,MultiQ International AB is a Sweden-based comp...

# There are two features both are in words but in the business description already the name of company is given thats why we will ignore company name feature, and converting the words into vector form by the help of CountVectorizer.

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count_company_name = v.fit_transform(X_train['Business Description'].values)
X_train_count_company_name.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

# We will use Multinomial naive bays for this classification

In [19]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count_company_name,y_train)

MultinomialNB()

In [20]:
X_test_count1 = v.transform(X_test["Business Description"])

#Finding Score of Model

In [21]:
model.score(X_test_count1,y_test)

0.4674634794156706

In [22]:
y_pred=model.predict(X_test_count1)

# Confusion Matrics

In [23]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[12,  0,  0, ...,  0,  0,  0],
       [ 0,  4,  0, ...,  0,  0,  0],
       [ 0,  0,  2, ...,  0,  0,  0],
       ...,
       [ 1,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  1,  0, ...,  0,  0,  0]], dtype=int64)

# Converting the labels into the respective name

In [24]:
dct={}
for index,row in df2.iterrows():
              if row['label'] not in dct.keys():
                  dct[row['label']]=row["Industry Classification Tag"]

In [25]:
dct

{0: 'Advertising',
 1: 'Aerospace & Defense',
 2: 'Apparel Retail',
 3: 'Apparel, Accessories & Luxury Goods',
 4: 'Application Software',
 5: 'Asset Management & Custody Banks',
 6: 'Auto Parts & Equipment',
 7: 'Biotechnology',
 8: 'Building Products',
 9: 'Casinos & Gaming',
 10: 'Commodity Chemicals',
 11: 'Communications Equipment',
 12: 'Construction & Engineering',
 13: 'Construction Machinery & Heavy Trucks',
 14: 'Consumer Finance',
 15: 'Data Processing & Outsourced Services',
 16: 'Diversified Metals & Mining',
 17: 'Diversified Support Services',
 18: 'Electric Utilities',
 19: 'Electrical Components & Equipment',
 20: 'Electronic Equipment & Instruments',
 21: 'Environmental & Facilities Services',
 22: 'Gold',
 23: 'Health Care Equipment',
 24: 'Health Care Facilities',
 25: 'Health Care Services',
 26: 'Health Care Supplies',
 27: 'Health Care Technology',
 28: 'Homebuilding',
 29: 'Hotels, Resorts & Cruise Lines',
 30: 'Human Resource & Employment Services',
 32: 'Industrial Machinery',
 33: 'Integrated Telecommunication Services',
 34: 'Interactive Media & Services',
 35: 'Internet & Direct Marketing Retail',
 36: 'Internet Services & Infrastructure',
 37: 'Investment Banking & Brokerage',
 31: 'IT Consulting & Other Services',
 38: 'Leisure Products',
 39: 'Life Sciences Tools & Services',
 40: 'Movies & Entertainment',
 41: 'Oil & Gas Equipment & Services',
 42: 'Oil & Gas Exploration & Production',
 43: 'Oil & Gas Refining & Marketing',
 44: 'Oil & Gas Storage & Transportation',
 45: 'Packaged Foods & Meats',
 46: 'Personal Products',
 47: 'Pharmaceuticals',
 48: 'Property & Casualty Insurance',
 49: 'Real Estate Operating Companies',
 50: 'Regional Banks',
 51: 'Research & Consulting Services',
 52: 'Restaurants',
 53: 'Semiconductors',
 54: 'Specialty Chemicals',
 55: 'Specialty Stores',
 56: 'Steel',
 57: 'Systems Software',
 58: 'Technology Distributors',
 59: 'Technology Hardware, Storage & Peripherals',
 60: 'Thrifts & Mortgage Finance',
 61: 'Trading Companies & Distributors'}

# Testing for some self given description

In [26]:

description=["Marchex, Inc. is a mobile advertising analytics company. The Company offers products and services for enterprises that depend on consumer phone calls to drive sales. Its media analytics products can provide actionable intelligence on media channels advertisers use to acquire customers over the phone. Its Marchex Omnichannel Analytics Cloud helps marketers connect customer conversions driven from paid media channels, including search, display and video, social and sites, to phone calls made to a business. Its product offerings include Marchex Call Analytics, Marchex Search Analytics, Marchex Display and Video Analytics, Marchex Social Analytics, Marchex Call Marketplace and Local Leads. Its Local Leads platform is a white-labeled, full service advertising solution for small business resellers, such as Yellow Pages providers and vertical marketing service providers, to sell call advertising, search marketing and other lead generation products."]
test=v.transform(description)
ans=model.predict(test)

# Importing the test excel file to know the output

In [27]:
test_dataset=pd.read_excel(r"C:\Users\USER\Downloads\Testing_Data_2_ (1) (1).xlsx")
test_dataset.size

1544

In [28]:
test_dataset.isnull().sum()

Company                 0
Business Description    0
dtype: int64

In [29]:
test_dataset.head()

,Company,Business Description
0,3rd Rock Multimedia Ltd,3rd Rock Multimedia Limited is an India-based ...
1,Andhra Petrochemicals Ltd,The Andhra Petrochemicals Limited is an India-...
2,Force Motors Ltd,Force Motors Limited is a holding company. The...
3,Diamines And Chemicals Ltd,Diamines and Chemicals Limited is a holding co...
4,Insilco Ltd,Insilco Limited is engaged in manufacturing an...

In [30]:
dct2={'Business Description':[],'Output/Industry Classification Tag':[]}
I=0
for index,rows in test_dataset.iterrows():
    if I==1000:
        break
    
    I+=1
    dct2['Business Description'].append(rows['Business Description'])
    description=[rows['Business Description']]
    test=v.transform(description)
    ans=model.predict(test)
    dct2['Output/Industry Classification Tag'].append(dct[ans[0]])

In [31]:
FINALOUTPUT_DATAFRAME=pd.DataFrame(dct2)

# Final OUTPUT DATASET

In [32]:
FINALOUTPUT_DATAFRAME.head(100)

,Business Description,Output/Industry Classification Tag
0,3rd Rock Multimedia Limited is an India-based ...,Advertising
1,The Andhra Petrochemicals Limited is an India-...,Industrial Machinery
2,Force Motors Limited is a holding company. The...,Construction Machinery & Heavy Trucks
3,Diamines and Chemicals Limited is a holding co...,Commodity Chemicals
4,Insilco Limited is engaged in manufacturing an...,Commodity Chemicals
...,...,...
95,Stone India Limited is principally engaged in ...,Building Products
96,Artson Engineering Limited is engaged in the m...,Industrial Machinery
97,Frontier Springs Limited is engaged in manufac...,Steel
98,Rasandik Engineering Industries India Limited ...,Construction Machinery & Heavy Trucks
99,Taneja Aerospace and Aviation Limited is engag...,Aerospace & Defense